:root {
    --bg_color: #fafaf0;
    --transparent_bg_color: rgba(250, 250, 240, 0.8);
    --text_color: #232d32;
    --accent_color: #ffa500;

    --title_font: 'Bebas Neue', sans-serif;
    --text_font: 'Quicksand', sans-serif;
}

body {
    margin: 0 15%;
    color: var(--text_color);
    background-color: var(--bg_color);
}

.navigation {
    position: sticky;
    top: 7.5%;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

.logo {
    padding: 0% 2%;
    background-color: var(--transparent_bg_color);
    border-radius: 50px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    min-width: 115px;
}

.logo_text a {
    text-decoration: none;
    user-select: none;
    color: var(--text_color);
    font-size: 150%;
    font-weight: 200;
    letter-spacing: 0.75px;
    font-family: var(--title_font);
    text-align: center;
}

nav {
    padding: 5px;
    background-color: var(--transparent_bg_color);
    border-radius: 50px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

nav ul {
    user-select: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 8px 7px;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    user-select: none;
    color: var(--text_color);
    font-size: 150%;
    font-weight: 200;
    letter-spacing: 0.75px;
    font-family: var(--title_font);
    text-align: center;
}

.selected_nav {
    color: var(--accent_color);
    text-decoration: underline;
}

.nav_hover {
    transition: transform 0.35s ease;
}

.nav_hover:hover {
    transform: scale(1.05);
}

.body_spacing {
    margin: 0 1%;
}